__pycache__/
*?.env
venv
文档.txt
*.log
.qiniu_pythonsdk_hostscache.json
shell
.idea/
testcase/*
!testcase/datastore
!testcase/index
!testcase/llm
data-gpt-index.json
data_gpt
.vscode/
delete_merged_branch_name.txt
config/_*_config.py
.DS_Store/
.env
.DS_Store
Qdrant.py
dev_config.py
*/.openai-api-key.txt
test.py
scaffold/
demo_*
